:root {
  --white: #ffffff;
  --brand-primary: #6368bd;
  --brand-secondary: #15aad6;

  --gray-60: #7a7a7a;
  --gray-100: #2a2a2a;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  white: var(--background);
  color: var(--gray-300);
  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
  font-weight: 400;
  font-size: 1rem;
}
